<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.D__PROJECT_CSHARP_LIBRARY_MANAGEMENT_DAL_LIBRARYDB_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=D:\PROJECT_CSHARP\LIBRARY_MANAGEMENT\DAL\LIBRARYDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QL_ThuVienConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QL_ThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.Library_managementConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Library_management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>